@import "./../../utils/colors.scss";
@import "./../../utils/mixins.scss";

.badge {
  color: $white;
  padding: 2px 7px;
  border-radius: 3px;
  font-weight: 700;
  font-size: 11px;
  text-transform: lowercase;
  &:first-letter {
    text-transform: uppercase;
  }
  &.DRAFT,
  &.SCHEDULED {
    background-color: $blue-300;
  }
  &.LIVE {
    background-color: $green;
  }

  &.PAST {
    background-color: $gray-500;
  }
}
