@import "./../../utils/mixins.scss";
@import "./../../utils/colors.scss";

.story-pages {
  @include flex-center-start;

  .story-page {
    width: 30px;
    max-height: 52px;
    margin-right: 4px;
    cursor: pointer;
    overflow: hidden;
    border-radius: 3px;

    &.more {
      background-color: $gray-600;
      height: 52px;
      font-size: 14px;
      cursor: default;
      @include flex-center;
    }

    img {
      overflow: hidden;
      width: 100%;
      height: 100%;
    }
  }
}
