$blue-300: #1c62eb;
$blue-400: #76a0f0;
$blue-500: #292f48;
$blue-700: #103b8e;
$blue-900: #171a25;

$white: #ffffff;
$black: #171a25;
$gray: #f9f9f9;
$gray-50: #f8f8fa;
$gray-200: #d3d4d9;
$gray-300: #bbbcc2;
$gray-400: #a3a4ab;
$gray-500: #a3a3a3;
$gray-600: #ebebeb;

$green: #1db56c;
$red: #d24747;
