$blue-400: #76A0F0;
$blue-500: #292F48;
$blue-700: #103B8E;
$blue-900: #171A25;

$white: #ffffff;
$black: #171A25;
$gray: #F9F9F9;
$gray-50: #F8F8FA;
$gray-200: #D3D4D9;
$gray-300: #BBBCC2;
$gray-400: #A3A4AB;
