@import './../../../utils/colors.scss';
@import './../../../utils/mixins.scss';

.section-item {
  @include flex-center-start;
  height: 56px;
  padding: 0 20px;
  text-decoration: none;

  &:hover {
    background-color: $blue-500;
    box-shadow: 8px -4px 0px -4px $blue-400 inset;
  }

  .active {
    background-color: $blue-500;
    box-shadow: 8px -4px 0px -4px $blue-400 inset;
  }

  .section-title {
    color: $white;
    padding-left: 8px;
  }
}
