@import "./../../utils/colors.scss";
@import "./../../utils/mixins.scss";

.sidebar {
  background-color: $black;
  min-width: 228px;
  width: 228px;
  transition: left 0.3s ease;
  left: 0;
  z-index: 10;

  @media (max-width: 600px) {
    position: absolute;
    left: -228px;
    &.open {
      left: 0;
    }
  }
}
