@import './utils/colors.scss';
@font-face {
  font-family: 'Euclid Circular B';
  font-style: normal;
  font-weight: 400;
  src:
    local('Euclid Circular B'),
    url('./fonts/Euclid Circular B Regular.ttf') format('truetype');
}
@font-face {
  font-family: 'Euclid Circular B';
  font-style: normal;
  font-weight: 500;
  src:
    local('Euclid Circular B'),
    url('./fonts/Euclid Circular B Medium.ttf') format('truetype');
}
@font-face {
  font-family: 'Euclid Circular B';
  font-style: normal;
  font-weight: 600;
  src:
    local('Euclid Circular B'),
    url('./fonts/Euclid Circular B SemiBold.ttf') format('truetype');
}
@font-face {
  font-family: 'Euclid Circular B';
  font-style: normal;
  font-weight: 700;
  src:
    local('Euclid Circular B'),
    url('./fonts/Euclid Circular B Bold.ttf') format('truetype');
}

.app {
  background-color: $black;
  color: $black;
  font-family: 'Euclid Circular B', sans-serif;
}

.content {
  display: flex;
}
